<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>amazona</title>
</head>

<body>
  <div class="grid-container">
    <header class="header">
      <div class="brand">
        <button onclick="openMenu()">
          &#9776;
        </button>
        <a href="index.html">AMAZONA</a>
      </div>
      <div class="header-links">
        <a href="signin">Signin</a>
        <a href="cart.html">Cart</a>
      </div>
    </header>
  <aside class="sidebar">
    <h3> Shopping Catogries</h3>
    <button class="sidebar-close-button" onclick="closeMenu()"> x</button>
    <ul>
      <Li> 
        <a href="index.html"> Pant</a>
      </Li>
      <Li> 
        <a href="index.html"> shirt</a>
      </Li>
    </ul>

  </aside>  

    <main class="main">
      <div class="content">
        <ul class="products">
          <Li>
            <div class="product">
              <img class="product-image" src="/images/index1.png" alt="product">
              <div class="product-name">
                <a href="product.html"></a>Beast of ecom</div>
              <div class="product-brand">kevin David</div>
              <div class="product-price">$20</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
    
            </div>
            
          </Li>
          <Li>
            <div class="product">
              <img class="product-image" src="/images/index1.png" alt="product">
              <div class="product-name">
                <a href="product.html"></a>Beast of ecom</div>
              <div class="product-brand">kevin David</div>
              <div class="product-price">$20</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
    
            </div>
            
          </Li>
          <Li>
            <div class="product">
              <img class="product-image" src="/images/index1.png" alt="product">
              <div class="product-name">
                <a href="product.html"></a>Beast of ecom</div>
              <div class="product-brand">kevin David</div>
              <div class="product-price">$20</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
    
            </div>
            
          </Li>
          <Li>
            <div class="product">
              <img class="product-image" src="/images/index1.png" alt="product">
              <div class="product-name">
                <a href="product.html"></a>Beast of ecom</div>
              <div class="product-brand">kevin David</div>
              <div class="product-price">$20</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
    
            </div>
            
          </Li>
          <Li>
            <div class="product">
              <img class="product-image" src="/images/index1.png" alt="product">
              <div class="product-name">
                <a href="product.html"></a>Beast of ecom</div>
              <div class="product-brand">kevin David</div>
              <div class="product-price">$20</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
    
            </div>
            
          </Li>
          <Li>
            <div class="product">
              <img class="product-image" src="/images/index1.png" alt="product">
              <div class="product-name">
                <a href="product.html"></a>Beast of ecom</div>
              <div class="product-brand">kevin David</div>
              <div class="product-price">$20</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
    
            </div>
            
          </Li>

        </ul>
      </div>

    </main>
    <footer class="footer">
      All right reserve
    </footer>
  </div>
  <script>
    function openMenu(){
      document.querySelector(".sidebar").classList.add('open');
    }
    function closeMenu(){
      document.querySelector(".sidebar").classList.remove('open');
    }
  </script>
</body>

</html>